@page "/AgentDashboard"
@using System.Globalization
@layout AgentLayout


<div class="container">
  <div class="row">
    <div class="col-sm">
       <RadzenChart>
          
      </RadzenChart>
    </div>
    <div class="col-sm">
      <RadzenCard>
        
      </RadzenCard>
    </div>
    <div class="col-sm">
      <RadzenCard></RadzenCard>
    </div>
  </div>
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <RadzenCard>
                
            </RadzenCard>
        </div>
        <div class="col-sm">
            <RadzenCard></RadzenCard>
        </div>
    </div>
    <div class="row">
        <RadzenCard>

        </RadzenCard>
    </div>
</div>


@code {
  
    
}