@page "/"



<div class="flight-search-card" style="width: 100%; height: auto; background-color: #02122C; padding: 50px; border-left: 100px solid #F3F5F7; border-right: 100px solid #F3F5F7;">
  <h1 style="color: white">
    Let the journey begin
  </h1>
  <div class="container-sm pt-4">
    <div class="my-2 card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="mb-2">
              <label id="origin-label" for="origin-input" class="form-label">From</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi-pin-map"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  list="origin-options"
                  id="origin-input"
                  placeholder="Location"
                  aria-describedby="origin-label"/>
                <datalist id="origin-options"></datalist>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-2">
              <label
                id="destination-label"
                for="destination-input"
                class="form-label">To</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi-pin-map-fill"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  list="destination-options"
                  id="destination-input"
                  placeholder="Location"
                  aria-describedby="destination-label"/>
                <datalist id="destination-options"></datalist>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 col">
        <div class="h-100 card">
          <div class="card-body">
            <div class="mb-2">
              <select id="flight-type-select"
                      class="form-select"
                      aria-describedby="flight-type-label">
                <option value="one-way">One-way</option>
                <option value="round-trip">Round-trip</option>
              </select>
            </div>
            <div id="departure-date" class="mb-2">
              <label
                id="departure-date-label"
                for="departure-date-input"
                class="form-label">Departure</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi-calendar"></i>
                </span>
                <input
                  type="date"
                  class="form-control"
                  id="departure-date-input"
                  aria-describedby="departure-date-label"/>
              </div>
            </div>
            <div id="return-date" class="mb-2">
              <label
                id="return-date-label"
                for="return-date-input"
                class="form-label">Return</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi-calendar-fill"></i>
                </span>
                <input
                  type="date"
                  class="form-control"
                  id="return-date-input"
                  aria-describedby="return-date-label"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 col">
        <div class="h-100 card">
          <div class="card-body">
            <div class="mb-2">
              <label id="travel-class-label"
                     for="travel-class-select"
                     class="form-label">Travel class</label>
              <select class="form-select"
                      id="travel-class-select"
                      aria-describedby="travel-class-label">
                <option value="ECONOMY">Economy</option>
                <option value="PREMIUM_ECONOMY">Premium Economy</option>
                <option value="BUSINESS">Business</option>
                <option value="FIRST">First</option>
              </select>
            </div>
            <label class="form-label">Passengers</label>
            <div class="mb-2">
              <div class="input-group">
                <label for="adults-input" class="input-group-text"></label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="adults-input"
                  aria-describedby="adults-label"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="search-button" class="w-100 btn mt-3" style="background-color: #00887D; color: white">Search</button>
  </div>
</div>

<div class="container" style="margin-top: 100px; background-color: #F3F5F7">
  <div class="row">
    <b>Plan your perfect trip</b>
    <p>Search for flights, hotels and car rentals to our most popular destinations</p>
    <div class="col">
      <div class="card m-2" style="width: 300px;">
        <img class="card-img" src="https://assets.codepen.io/6093409/mountains-3.jpg" alt="a snow-capped mountain range"/>
        <div class="card-img-overlay text-white">
          <h2 class="card-title">Mountains</h2>
          <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2" style="width: 300px;">
        <img class="card-img" src="https://assets.codepen.io/6093409/mountains-3.jpg" alt="a snow-capped mountain range"/>
        <div class="card-img-overlay text-white">
          <h2 class="card-title">Mountains</h2>
          <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2" style="width: 300px;">
        <img class="card-img" src="https://assets.codepen.io/6093409/mountains-3.jpg" alt="a snow-capped mountain range"/>
        <div class="card-img-overlay text-white">
          <h2 class="card-title">Mountains</h2>
          <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
          <a href="#" class="btn btn-secondary">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
    
}