@using Login

<header>

</header>
<nav class="navbar navbar-expand-sm fixed-top navbar-light mt-3">
    <div class="container">
        <NavLink class="nav-link" href="/">
            LOGO
        </NavLink>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <NavLink href="About">
                    <a class="nav-link" style="text-decoration: none">About </a>
                </NavLink>
                <NavLink href="AgentDashboard">
                    <a class="nav-link">FAQ</a>
                </NavLink>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav nav-pills ml-auto">
                <LoginButtons/>
            </ul>
        </div>
    </div>
</nav>

<div class="sticky-top hidden-spacer" style="background-color: #F3F5F7"> </div>

<!--container-->

@code {
    

}