<header>
    
</header>
<nav class="navbar navbar-expand-sm fixed-top navbar-light mt-3">
    <div class="container">
        <NavLink class="nav-link" href="/">
            LOGO
        </NavLink>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <NavLink href="EditAccount">
                    <a class="nav-link" style="text-decoration: none">About </a>
                </NavLink>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item" role="presentation">
                    <NavLink class="nav-link" href="LogIn" Style="background-color: #00887D">
                        <a style="color: white" id="tab-login" data-mdb-toggle="pill" role="tab"
                           aria-controls="pills-login" aria-selected="true">Login</a>
                    </NavLink>
                </li>
                <li class="nav-item" role="presentation">
                    <NavLink class="nav-link" href="Register" Style="background-color: transparent">
                        <a style="color: #012438" id="tab-login" data-mdb-toggle="pill" role="tab"
                        aria-controls="pills-login" aria-selected="true">Register</a>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="sticky-top hidden-spacer" style="background-color: #F3F5F7"> </div>

<!--container-->

@code {
    

}